body, html {
    height: 100%;
}

@media screen and (max-device-width: 480px) {

    body {
        margin: 0;
        background-color: silver;
    }

    .bigcont {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: repeat(5, 20%);
        grid-template-areas:
                "feature1"
                "feature2"
                "grid1"
                "grid2"
                "grid3";
    }
}

@media screen and (min-device-width: 1200px) {
    body {
        display: flex;
        justify-content: center;
    }

    .bigcont {
        display: grid;
        width: 1300px;
        grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 200px;
        grid-template-areas:
        "feature1 feature1 feature1 feature2 feature2 feature2"
        "grid1 grid1 grid2 grid2 grid3 grid3";
    }
}

#feature1 {
    display: flex;
    background-color: yellow;
    grid-area: feature1;
    justify-content: center;
    align-items: center;
}

#feature2 {
    display: flex;
    background-color: lime;
    grid-area: feature2;
    justify-content: center;
    align-items: center;
}

#grid1 {
    display: flex;
    background-color: orange;
    grid-area: grid1;
    justify-content: center;
    align-items: center;
}

#grid2 {
    display: flex;
    background-color: red;
    grid-area: grid2;
    justify-content: center;
    align-items: center;
}

#grid3 {
    display: flex;
    background-color: orange;
    grid-area: grid3;
    justify-content: center;
    align-items: center;
}